$primcolor:silver;
$second-color: ghostwhite;
%msg{
    width: 100%;
    height: 40px;    
    outline-color: rgb(168, 202, 231);
    border:1px solid  rgb(168, 202, 231);    
    border-radius:6px;
    padding: 0 10px;
}
hr{
    // border:1px solid silver;
    width: 10rem;
}
#vl{
    height:120vh;
    border:1px solid #dfdfdf;
    position:absolute;
    left:17%;
}
li{
    padding: 0rem;
    color: $primcolor;
    // width: 20%;
    // margin-bottom: 1rem;
    
    &:hover{
        color: black;
        cursor: pointer;
        background-color:white;
        color: black;
        // font-size: 1.2rem;
        font-weight: 500;
        border-radius: 1rem;
    }
    
}
#mlist{
    display: none;
}
#all{
    display: flex;
    #cntrl{
        width: 20%;
        position: fixed;
        
        #icon{
            margin: 0 1rem;
        }
    }
    input[type=text],input[type=password]{
        @extend %msg;
        

    }
    .list-group{
        padding:1rem 0;
    }
    #box2{
        padding:0.5rem 0;
    }
    #box{
        padding:0.5rem 0;
    }
    #content{
        width: 50%;
        background-color:white;
        color:black;
        margin-left: 20%;
        // display: flex;
        // flex-direction: column;
        h3{
            padding:1rem 0;
        }
        p{
            color:rgb(155, 142, 142);
            margin:0;
            font-weight:500;
            margin-bottom:0.5rem;
          
        }
        #prof{
            height: 7rem;
            border-radius: 5rem;
            display: flex;
            margin: 0 auto;
        }
        #btn{
            background-color: blue;
            color: white;
            outline: none;
            height: 3rem;
            width: 7rem;
            border: none;
            // font-weight:bold;
            // font-size: 1.3rem;
            border-radius: 1rem;
            display: flex;
            // margin: 0 auto;
            justify-content: center;
            align-items: center;
            margin:1rem 0;
            // margin-top: 1rem;
            &:hover{
               outline: none;
               cursor: pointer;
            }
            
        }
        #cnt{
            display: flex;
            justify-content: space-between;
            

        }
        // input[type=text],input[type=password],input[type=number]{
            
         
        // }
        #pas{
            display:flex;
        }
        #eye{
            position:absolute;
            // cursor:pointer;
            // margin-right:28%;
            // margin:0.5rem 28%;
            margin:0.5rem -4%;

        }
        #eye2{
            
            position:absolute;
            margin:0.5rem -2%;
            cursor:pointer;
        }
        input[type=password]{
            position:relative;
            padding:0 1rem;
            
        }
        #box{
            font-size:0.75;
        }
        #box,#box2{
            input[type=text],input[type=number]{
                @extend %msg;
                
            }
        }
    }
}
#more{
    display: none;
}
#mlist{
    display: none;
}
@media only screen and (max-width:800px){
    
#new{
    display: flex;
    justify-content: space-between;
}
    #more{
        display: block;
        margin-top: 1rem;
        font-size: 2rem;
    }
    #all{
       #cntrl{
       display:none;
   }
   #vl{
       display:none;
   }
   #content{
       width:80%;
       margin:0 auto;
       #cnt{
           display: block;
       }
       #box{
           input[type=text]{
               width: 100%;
           }
       }
       #eye2{
        margin: 0.5rem -5%;
    }
       #eye{
           margin: 0.5rem -10%;
       }
   }
}
}
#mlist{
    display: block;
    position: absolute;
    list-style: none;
    height: 100vh;
    width: 70%;
    left: 0;
    top: 0;
    background-color: cornflowerblue;
    
    #icon{
        margin: 0 10px;
    }
    li{
        color: white;
        padding: 0.9rem;
        font-size: 1.2rem;
        &:hover{
            color: cornflowerblue;
        }
    }
}